h4{
    font-weight: 600!important
}
h3{
    font-weight: 600!important
}

a.sidebar-link {
    font-weight: 600!important
}
.sidebar-heading {
    font-weight: 600!important
}
*{
    font-size: 15px
}